
.task_card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding:  20px;
    background: linear-gradient(
      135deg,
      #ffffff33,
      #ff19001a
    );
    border: 1px solid #ffffff4d;
    cursor: grab;
} 

.task_card:active{
    opacity: 0.8;
    box-shadow: 1px 1px 30px 30px #ff190041 inset;
}

.title{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(to right, rgb(89, 6, 74), rgb(247, 49, 38));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.card_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}



.delete_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background: #ff4b5c;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px;
    transition: background 0.3s ease;
    font-size: 16px;
}

.delet_icon{
    width: fit-content;
}

.delete_btn:hover {
    background: #ff333d;
}




/* Tasks_Column */

.task_column{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #f8c7c7 ;
    padding: 10px;
    border-radius: 16px;
    height: 100%;
}

.task_heding{
    display: flex;
    align-items: center;
    gap: 4px;
    background: linear-gradient(to right, rgb(89, 6, 74), rgb(247, 49, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.icon{
    width: 30px;
    height: 30px;
}


@media screen and (max-width:480px){

    .task_card ,.task_column{
        border-radius: 10px;
    }
  
}
