.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1100px;
    gap: 20px;
}
h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* background-image: linear-gradient(136deg, #ffaf7b, #d76d77); */
    background-image: linear-gradient(136deg, #9b5de5,#d76d77, #f15bb5);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.input_parent{
    align-items: center;
    box-sizing: border-box;
    border-radius: 26px;
    background: #ffffff1a;
    box-shadow: 0 4px 8px #00000033;
    backdrop-filter: blur(10px);
    padding: 6px;
    width: 100%;
}

.todo_input{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 24px;
    background: #ffffffb3;
    box-shadow: inset 0 2px 4px #0000001a;
    font-size: 16px;
    outline: none;
    transition: background 0.3s ease;
    box-sizing: border-box;
}

.todo_input:focus{
    color: #383838;
    background : #ffffff;
  }

.tags_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.tags_select{
    display: flex;
    align-items: center;
    gap: 10px;
}


.tags_form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    box-sizing: border-box;
    width: 100%;
}



/* tag.jsx */
.tags{
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 12px;
    width: fit-content;
}

/* .select_parent, option{
    align-items: center;
} */

select{
    border-radius: 20px;
    outline: none;
    padding: 10px;
    border: navajowhite;
    box-sizing: border-box;
    font-size: 16px;
    background: #ffffff1a;
    box-shadow: 0 4px 8px #00000033;
    backdrop-filter: blur(10px);
    background: linear-gradient(136deg, #ffaf7b, #d76d77);
    min-width: 120px;
}

.options{
    outline: none;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: #d76d78e2;
}

.addtask_btn{
    min-width: 100px;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease; 
    background: linear-gradient(136deg, #ffaf7b, #d76d77);
    
}

.addtask_btn:hover {
    background: linear-gradient(135deg, #d76d77, #ffaf7b);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width:780px){
   
    .tags_select{
        flex-direction: column;
    }
}

@media screen and (max-width:480px){
   
    .tags_btn{
        flex-direction: column;
    }

    .tags_select{
        flex-direction: column;
    }
    
}