*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(136deg, #3a1c71, #d76d77, #ffaf7b);
   /* background: url(https://cdn.vectorstock.com/i/1000x1000/65/49/black-hexagon-rgb-background-vector-37936549.webp); */
}